html,
body {
  margin: 0;
}

.appBar {
  padding: 15px 25px;
  background-color: darkblue;
  color: white;
  text-align: center;
}

.container {
  margin-top: 10px;
  margin-left: 5px;
}

.button-clicked {
  background-color: slategrey;
}

.resultContainer {
  width: 625px;
  font-size: 1.5em;
  padding: 0;
}

ul {
  list-style: none;
  text-align: left;
  margin-left: 25px;
}

.total {
  text-align: left;
  margin-left: 110px;
  font-size: 3em;
}

.btn {
  font-size: 130%;
}

.input {
  font-size: 130%;
}
